
#contacts{
    position: relative;
    width: 100%;
}

.contacts-background{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("../../../images/contact_us.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contacts-background:after {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    content: "";
}

.contacts-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: relative;
    z-index: 3;
    height: 100%;
    padding: 2% 10%;
    font-family: var(--font-extra), sans-serif;
}

        .contacts-container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 5% 0;
        }

            .contacts-map{
                flex: 2;
                height:500px;
            }

            .contacts-information {
                flex: 1;
                padding: 5%;
            }

            .contacts-information-fields{
                color: rgb(233, 233, 233);
                padding:12px;
                font-size: 1.7rem;
            }
            .contacts-information-inputs{
                margin-left:2px;
                margin-top:12px;
                color:#222222;
            }

            .contacts-information-inputs-information{
                margin-top:5px;
                text-align: center;
            }

            label {
                padding: 8px 8px 8px 0;
                display: inline-block;

            }
            
            input[type=text]{
                width: 400px;
                padding: 8px;
                border:1px solid #aaaaaa;
               border-radius: 4px;
            }

        

