.profile-banner {
  height: 250px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-242301.jpg'); */
}

.organization-profile-sidebar {
  /* transform: translateY(-40%); */
  margin-top: -120px;
  min-height: 100px;
  box-sizing: border-box;

  width: 100%;
  padding: 0 10%;
}

.organization-img {
  text-align: center;
}

.organization-img > img {
  width: 170px;
  height: 170px;
}

.organization-profile-container {
  min-height: 300px;
  padding-top: 20px;
}
