/* sm */
@media screen and (min-width: 35.5em) {}

/* md */
@media screen and (min-width: 48em)	{}

/* lg */
@media screen and (min-width: 64em)	{}

/* xl */
@media screen and (min-width: 80em) {}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-white);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--color-white);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color:var(--color-white);
}

.c4f-input {
    /* font-family: 'Arimo', sans-serif; */
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'Nunito Sans', sans-serif;
    color: var(--color-white);
    padding: 7px;
    width: 100%;
    border-radius: 3px;
    padding-left: 12px;
}
    .c4f-input:focus{
        outline: none;
        box-shadow: 0 1px 8px 0 #29b8ac;
    }

.input-main{
    border: none;
    background-color: #59c1b8;
}

.input-form{
    border: 2px solid #4dc7bd;
}

.c4f-input-group{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}


.cf-button.blue {
    background-color: #193d9e;
}

.cf-button.green {
    background-color: #4dc7bd;
}

.cf-button.blue:hover{
    background-color: #1a47c2;
}

.cf-button.green:hover{
    background-color: #31a59b;
}

.cf-button {
    font-family: 'Nunito Sans', sans-serif;
    color:var(--color-white);
    font-weight: 700;
    padding: 12px 15px;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    transition: background-color 100ms ease-in;
}

.cf-button-round {
    border-radius: 20px
}


.cf-label-skill {
    background-color: #f9f9f9;
    color: #484646;
    padding: 12px 18px;
    margin: 3px 10px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;    
    border-radius: 3px;
    border: none;
}