a {
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: pointer;
}


    
#description{
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color);
}


#footer{
    width: 100%;
    background-color: #252422;
}
.footer-container{
    display: flex;
    flex-direction: column;
}

.footer-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 10%;
}
    .footer-column{
        flex: 1;
        color: #fff;
        font-family: 'Nunito', sans-serif;
        padding: 30px 20px;
    }

    .footer-column-title{
        font-weight: 700;
    }

    .footer-column-text{

    }
    /* .footer-hr{
        border-bottom: 1px solid #eee;
        padding: 0 10%;
    } */

.footer-base{
    text-align: center;
    padding: 20px;

}
