/* Wild(1 fonts) (Frases inspiradoras, pedidos)*/
/* Exemplo: 
    Ajuda-nos, preenche um dos nossos questionários.
*/
https://fonts.google.com/specimen/Contrail+One (selected)
https://fonts.google.com/specimen/Share
https://fonts.google.com/specimen/Londrina+Solid

/* Header(2 fonts) (News, Navbar, header)*/ 
/* Exemplo: 
    PROJECT
    NEWS
    ROADMAP
    CONTACT US 
*/
https://fonts.google.com/specimen/Roboto+Condensed (selected)
https://fonts.google.com/specimen/Open+Sans+Condensed
https://fonts.google.com/specimen/PT+Sans+Narrow
https://fonts.google.com/specimen/Dosis
https://fonts.google.com/specimen/Cuprum
https://fonts.google.com/specimen/Gudea
https://fonts.google.com/specimen/Fjalla+One


/*Text (2 fonts)*/
https://fonts.google.com/specimen/Nunito (selected)
https://fonts.google.com/specimen/Arimo
https://fonts.google.com/specimen/Archivo+Narrow
https://fonts.google.com/specimen/Noto+Sans
