.login-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: linear-gradient(to left, #8792e0, #1e225d);
}

.login-img {
  position: absolute;
  background-image: url("../../images/icon.png");
  background-repeat: no-repeat;
  background-size: 50%;
  opacity: 1;
  width: 70%;
  height: 100%;
  margin-left: 30%;
  margin-top: 5%;
  opacity: 0.5;
  z-index: 10;
}

#descript {
  position: absolute;
  width: 50%;
}

.descript-container {
  padding: 70px 5% 0 5%;
  display: flex;
  flex-wrap: wrap;
}

.descript-content {
  margin-left: 10%;
  margin-top: 6%;
  text-align: left;
  justify-content: left;
}

.descript-text {
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
  font-family: "Nunito Sans", sans-serif;
  padding: 5px;
  margin-bottom: 20px;
}

.descript-learn-how {
  font-size: 4.5rem;
  text-decoration: underline;
  color: #59c1b8;
  padding-top: 50px;
}

.descript-learn-how:hover {
  color: #1f6e68;
  text-decoration: underline;
}
#cover {
  position: absolute;
  min-height: 100vh;
  width: 50%;
}

.cover-container {
  padding: 15% 5% 0 5%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
}

.cover-registry {
  margin: auto;
  width: 400px;
  /* flex: 999; */
  text-align: center;
  justify-content: center;
  border-radius: 4px;
  z-index: 11;
  background-color: #e6e6e6;
}
.registry-header {
  color: #5cbaa4;
  font-weight: 700;
  font-size: 2rem;
  padding: 2% 10% 2% 8%;
  text-align: start;
}

/************************ Registry *************************/
.registry-container {
  padding: 5% 5% 5% 5%;
  text-align: start;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.registry-input {
  border-radius: 4px;
  padding: 6px;
  border: 1px solid rgb(179, 176, 176);
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  margin-top: 5%;
}

.registry-name-input {
  border-radius: 4px;
  padding: 6px;
  border: 1px solid rgb(179, 176, 176);
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

.registry-name-input::placeholder,
.registry-input::placeholder {
  color: rgb(179, 176, 176);
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}
.registry {
  padding: 4px 24px;
  border-radius: 4px;
  background-color: #3f58b1;
  border: none;
  color: white;
  margin-top: 5%;
}

/************************ Registry End*************************/
