
/* COMPANY COMPONENT */
.company-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    position: relative;
    flex: 1;
}

    .company-content {
        display: block;
        flex: 1;
    }

        .company-header {
            padding-bottom: 10px;
            display: inline-block;
        }
        .company-header > .company{
            color: var(--bg-primary);
            font-size: 1.2rem;
        }
    .company-image {
        padding-right: 10%;

    }
    .company-image > div {
        width: 150px;
        height: 100px;
        
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        outline: none;
        
    }


.cf-item-w-icon{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

    .cf-item-icon{
   
    }

    .cf-item-text{
        color: #999999;
        font-size: 0.8rem;
        padding: 5px 10px;
    }



.experience-item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.experience-node-wrapper{
    position: relative;
    padding-right: 10px;
}

.experience-node{
    position: relative;
    height: 100%;
    width: 30px;
}
.experience-node-line{
    border-left: 3px solid var(--bg-primary);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
}
.experience-node-icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.5rem;
    color:var(--bg-primary);
}

    .experience-node-icon:before {
        content: "\f111";
        color: #fff;
    }

    .experience-node-icon:after {
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-size: 2.5rem;
        color:var(--bg-primary);
        position: absolute;
        content: "\f22d";
    }
